@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;

    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }

    &:after {
        top: -1px;
        left: -1px;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
    }

    &:before {
        bottom: 2px;
        right: 2px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
    }

    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

        background: rgba(0, 0, 0, .5);
        color: white;

        &:before,
        &:after {

            width: 100%;
            height: 100%;
            border-color: white;
        }
    }
}





/* Styles pour les écrans de taille normale */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    /* background-color: #24262b; */
    background: linear-gradient(45deg, #24262b, #DC143C);
    color: #FFF;
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .toggle {
        margin-top: 10px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #24262b;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #FFF;
        padding: 5px 20px;

    }

    .btn {
        font-size: 24px;
    }

}

.navigation {
    position: relative;
    height: 20px;
    width: 250px;
    z-index: 100;
    flex-direction: column;
    display: flex;
}


.toggle {
    position: relative;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #24262b;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 5px 20px;

}

.toggle::before {
    content: 'Menu';
    margin-right: 10px;
}

.toggle.active::before {
    content: 'Close';
}

.toggle span {
    position: relative;
    width: 20px;
    height: 50px;
}

.toggle span::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: 0.5s;
}

.toggle span::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: 0.5s;
}

.toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
}

.toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
}


.ul-header {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}


.ul-header .li-header {
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-150px);
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active .ul-header .li-header {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);

}

.ul-header .li-header a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background: #24262b;
    color: #fff;
    width: 100%;
    transition: 0.5s;
}

.ul-header .li-header a:hover {
    background: #DC143C;
    color: #fff;
}

@media screen and (min-width: 1080px) {
    .toggle {
        display: none;
    }

    header {
        padding: 20px 40px;
    }

    .navigation {
        position: relative;
        height: 100%;
        width: auto;
        flex-direction: row;
        display: flex;
    }

    .ul-header {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .ul-header .li-header {
        position: relative;
        list-style: none;
        transition: 0.5s;
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }

    .ul-header .li-header a {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        height: 50px;
        background: #24262b;
        color: #fff;
        width: auto;
        transition: 0.5s;
    }

    .ul-header .li-header a:hover {
        background: #DC143C;
        color: #fff;
    }
}