@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.titre {

    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;


}

/* Styles pour les écrans de taille normale */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40PX;
    /* background-color: #333; */
    background: linear-gradient(45deg, #333, #DC143C);
    color: #FFF;
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .toggle {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #DC143C;
        padding: 5px 20px;

    }

}



.navigation {
    position: relative;
    height: 20px;
    width: 250px;
    z-index: 100;
    flex-direction: column;
    display: flex;
}


.toggle {
    position: relative;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #DC143C;
    padding: 5px 20px;

}

.toggle::before {
    content: 'Menu';
    margin-right: 10px;
}

.toggle.active::before {
    content: 'Close';
}

.toggle span {
    position: relative;
    width: 20px;
    height: 50px;
}

.toggle span::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #DC143C;
    transition: 0.5s;
}

.toggle span::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #DC143C;
    transition: 0.5s;
}

.toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
}

.toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
}


ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}


ul li {
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(350px);
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active ul li {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);

}

ul li a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background: #fff;
    color: #333;
    width: 100%;
    transition: 0.5s;
}

ul li a:hover {
    background: #DC143C;
    color: #fff;
}